html {
  --moderate-violet: #7541c8;
  --grayish-blue: #48556a;
  --blackish-blue: #19212e;
  --white: #fff;
  --light-gray: #cfcfcf;
  --grayish-blue: #ecf2f8;

  font-size: 0.812rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
